.main-slide{
    padding-top: 30px;
    }
    .carousel .slider-wrapper{
        fixedWidth : 100;
        fixedHeight: 60,
            gap        : 10,
            rewind     : true,
            pagination : false,
    }
    .carousel .thumb{
    width: 100%;
height: 100%;   
    object-fit: cover;
    }
    .carousel{
    text-align: center;
    }